@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --radius: 0.5rem
    }
}


/* These styles will help remove the scroll border and make the scrollbar thinner */
/*      If you're trying to make the external part of the scrollbar rounded to avoid conflicts with rounded parent divs, */
/*      it is easier to wrap the scrollable component in a separate child div with padding applied to the parent instead of trying to style the track itself */
.rounded-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

.rounded-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* Thumb color */
    border-radius: 9999px; /* Fully round edges */
    border: 2px solid #ffffff; /* White border to match white backgrounds */
}

.rounded-scrollbar::-webkit-scrollbar-track {
    background-color: #f8fafc; /* Track color */
    border-radius: 9999px; /* Fully round edges */
}

/* For modern browsers supporting scrollbar properties */
.rounded-scrollbar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #cbd5e1 #f8fafc; /* Thumb color and track color */
}

.main-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    background: white;
    padding: 15px;
    gap: 15px;

}
.main-header {
    font-size: 30px;
    color: #07304b;
    padding: 10px;
}

.synoptic-panel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    position: relative;
    border: 1px solid black;
}

.synoptic-panel svg {

}

.synoptic-legend {
    position: relative;
    z-index: 10;
    top: 16px; left: 16px;
    background: white;
    padding: 8px;
    font-size: 16px;
    width: 50%;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.legend-dot {
    width: 10px; height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;

}

.beamvis-panel {
    position: relative;
}

.beamvis-container {
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.synoptic-node {
    transition: filter 0.25s ease;
}
.synoptic-node-icon {
    pointer-events: none;
}
.synoptic-node:hover {
    filter: brightness(1.5);
}